* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161815;
}

.sectionPaddingA {

    padding-top: 12rem;
}

.section-padding {
    padding: 70px 0;
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
}

.carousel-caption {

    bottom: 187px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 80%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {

    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30, 82, 0.327);
    z-index: 1;

}

.navbar-nav {
    text-align: center; 
    margin: auto;
}

.justify-content-center {
    justify-content: center !important;
}


.navbar-nav a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand {

    color: #ffffff !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;

}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000 !;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i {
    font-size: 50px;
}

.imgIndexA {
    width: 88%;
    height: auto;
}

.team .card-body i {
    font-size: 20px;
}



.dataPriv {
    text-align: center;
}

.contPriv {
    border: 3px solid #3C3C3C;
    border-radius: 10px;
    padding: 15px;
    border-left: none;
    border-right: none;
}


.modal, .modalReg {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    padding-top: 120px;
}


.butAccessProp,
.butRegisProp {
    width: 45%; 
   
}


/* Ventana modal */
.contenido-modal, .contenido-modalReg {
    position: relative;
    background-color:   #212529;
    margin: auto;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.7s;
    text-align: center;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-style: groove;
    border-width: 1px;
   
    
}

.textoSuperiorAcceso{
    margin-top: 0;
}

.accesoBar{

    width: 300px;
    margin: auto;
}


.formReg{

    width: 100%;
}


.textoSuperiorAcceso{
    position: relative;
    margin-top: 0%;
}

.accessText{
    color: antiquewhite;
    margin-bottom: 0;
}

.userForm{
    text-align: center;
    border-radius: 6px;
}



/* Animación modal*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}



.butAccessProp{
  
    background-color: #212529;
    color: #ffffff;
    border: 5px outset #3C3C3C;
}

.butMasInfoCarrusel{

    z-index: 1;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




.julius,
h5,
h2,
h3 {

    font-family: 'Julius Sans One' !important
}

.botonFootA,
.botonFootB,
.botonFootC,
.botonFootD {
    background-color: #212529;
    border: 2px solid #3C3C3C;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    transition: 600ms ease all;
    outline: none;
    border-radius: 30px;
    text-decoration: none;
    color: #fff
}


.botonFootA:hover,
.botonFootB:hover,
.botonFootC:hover,
.botonFootD:hover {
    background: #E6E6E6;
    color: #212529;
}

.botonFootA {
    padding: 7px 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 19px;
    border-top-right-radius: 21px;
}

.botonFootB {
    padding: 7px 100px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 14px;
}

.botonFootC {
    padding: 7px 150px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 12px;
}

.botonFootD {
    padding: 7px 167px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 19px;
}

.texto {
    font-family: Sans, Arial;
    color: antiquewhite;
    text-align: left;

}

.titularTeam {
    font-family: 'Julius Sans One';
    color: antiquewhite;
    text-align: left;
}

.separador {
    width: 100%;
}


.containerPriv {
    width: 95%;
    margin-left: 2.4%;
}

.contServ {

    margin-top: -2%;
}

.lineCon {

    width: 100%;


}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
        color: hsl(230, 100%, 95%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 90%, 0.5),
            -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
            0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.5),
            0 0 0.125em hsla(320, 100%, 60%, 0.5),
            0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
            -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
            0 0 1em hsla(320, 100%, 50%, 0.2),
            0 0 0.125em hsla(320, 100%, 60%, 0.3),
            1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
            -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

}





.titular {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;

}

@media(max-width: 999px) {

    .modal, .modalReg {
       
        padding-top:120px;
	position: absolute;
    }


}



@media(max-width: 768px) {

    .modal{
       
        padding-top:-10px;
	
    }

    .modalReg{
        padding-top: -30px;
      
    }

    
    .navbar-nav {
        text-align: center;
    }


 .modal, .modalReg {
       
        padding-top: 200px;
    }


    .contenido-modal, .contenido-modalReg {

	width: 70%
    
    }

    .carousel-item {
        height: 70vh;
    }

    .w-100 {
        height: 70vh;
    }

    .carousel-caption {
        bottom: 25%;
    }

    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 10px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.5;
        font-size: 15px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .section-padding {
        padding: 50px 0;
    }
}

    @media (max-width: 576px) {

        .carousel-item {
            height: 40vh;
        }

        .carousel-caption {
            bottom: 10%;
        }

        .carousel-caption h5 {
            font-size: 8px !important;
        }

        .carousel-caption a {
            padding: 10px 15px;
            font-size: 5px !important;
        }

.modal, .modalReg {
       
        padding-top: 220px;
    }


    .contenido-modal, .contenido-modalReg {

	width: 80%
    
    }

    }

    @import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



    #container {

        margin: auto;
        width: 100vw;
        height: 80pt;
        top: 0;
        bottom: 0;
        filter: url(#threshold) blur(0.6px);

    }

    #text1,
    #text2 {
        position: absolute;
        width: 100%;
        display: inline-block;

        font-family: "Raleway", sans-serif;
        font-size: 80pt;

        text-align: center;
    }

    .letrasAnalisis {

        margin-right: 1rem;
    }

    .word2 {
        margin: auto;
        color: white;
        font: 700 normal 2.5em 'tahoma';
        text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
        height: 2.5em;
        min-height: 300px;
    }

    .textoRetype {
        font-weight: 200;
        margin: 0.4em 0;
    }